@media screen {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #cb232c, #ce1d61);
    padding: 10px;
  }

  form {
    background: #fff;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 700px; /* Ancho máximo del formulario */
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    grid-gap: 20px; /* Espacio entre las columnas y filas */
  }

  img {
    width: 130px;
    display: block;
    margin: 0 auto 30px auto;
    grid-column: span 2; /* Logo ocupa ambas columnas */
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .fa-solid {
    font-size: 20px;
    color: #cb232c;
    margin-bottom: 5px;
  }

  input,
  textarea {
    outline: none;
    border: 1px solid #ce1d61;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
  }

  input::placeholder,
  textarea::placeholder {
    color: rgba(37, 37, 37, 0.5);
  }

  textarea {
    height: 100px; /* Altura del campo de texto */
    resize: vertical;
  }

  button {
    color: #fff;
    border: none;
    background: #d8020e;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 5px;
    width: 100%;
    grid-column: span 2; /* Ocupa ambas columnas */
  }

  button:hover {
    background-color: #b0020e;
  }

  #mensaje {
    margin-top: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
    width: 100%;
    grid-column: span 2; /* Ocupa ambas columnas */
  }

  span {
    font-weight: bold;
    color: #252525;
    margin-bottom: 5px;
  }

  .ok {
    text-align: center;
    width: 100%;
    background-color: #1e6;
    color: white;
  }

  .bad {
    text-align: center;
    width: 100%;
    background-color: red;
    color: white;
  }
}

@media screen and (max-width: 425px) {
  form {
    padding: 20px;
    max-width: 100%;
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
  }

  img {
    width: 80px;
    margin-bottom: 20px;
  }

  .fa-solid {
    font-size: 24px;
  }

  input,
  textarea {
    font-size: 16px;
  }

  button {
    font-size: 16px;
    padding: 8px 15px;
  }
}
